# Lab 4: Data Cleaning
### June Enuj

In [87]:
import math as m
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

## Introduction

This lab will be focused on opening three different datasets, sales.csv, attendance.csv and BOING-BOING-CANDY-HIERARCHY-2016-Responses.xlsx, all of which are disorganized and need to be cleaned. I will be implementing the tools learned in class, to clean up some parts of 2 ut of 3 of these datasets, as well as analyzing and comeing ot a conclusion about the this whole experience.

## Data Exploration

### First, I will be opening the three datasets given to me (in order to be able to explore them).

In [88]:
dfs = pd.read_csv("sales.csv", encoding = "ISO-8859-1")
dfa = pd.read_csv("attendance.csv", encoding = "ISO-8859-1")
dfb = pd.read_excel("BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx")

### I will be using the head function to try and see how these datasets are formatted and whether or not the columns names are visible.

In [89]:
dfs.head(2)

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0

In [90]:
dfa.head(2)

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
dfb.head(2)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN

### Next, using the print function, I will be printing out the column names of each of the datasets in order to view the column names.

In [92]:
print ("Sales Dataset:")
print(dfs.columns.values)

Sales Dataset:
['Unnamed: 0' 'event_id' 'primary_act_id' 'secondary_act_id'
 'purch_party_lkup_id' 'event_name' 'primary_act_name'
 'secondary_act_name' 'major_cat_name' 'minor_cat_name'
 'la_event_type_cat' 'event_disp_name' 'ticket_text'
 'tickets_purchased_qty' 'trans_face_val_amt' 'delivery_type_cd'
 'event_date_time' 'event_dt' 'presale_dt' 'onsale_dt'
 'sales_ord_create_dttm' 'sales_ord_tran_dt' 'print_dt' 'timezn_nm'
 'venue_city' 'venue_state' 'venue_postal_cd_sgmt_1' 'sales_platform_cd'
 'print_flg' 'la_valid_tkt_event_flg' 'fin_mkt_nm'
 'web_session_cookie_val' 'gndr_cd' 'age_yr' 'income_amt' 'edu_val'
 'edu_1st_indv_val' 'edu_2nd_indv_val' 'adults_in_hh_num' 'married_ind'
 'child_present_ind' 'home_owner_ind' 'occpn_val' 'occpn_1st_val'
 'occpn_2nd_val' 'dist_to_ven']

### I will also be using the info and describe function in order to look at data that may or may not be missing and what kind of data is entered into the data dataset. I will be doing this for all the different datasets. The describe function will tell me if there is any numerical and data and the statistics of them.

Based off of what can be seen from the info function, there are a few columns that are missing some data, which makes me wonder if it's just been entered wrong, never entered or erased somehow. Also, there are a few columns names with 'ID' in them, which makes me think that a number of them could be potentially used as indexes. For the describe function, I can definetly say that this dataset does have numerical data because numbers are shown, as well as that there are quite a few of numerical data entered.

In [93]:
dfs.info()
dfs.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
Unnamed: 0                5000 non-null int64
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
ticket_text               5000 non-null object
tickets_purchased_qty     5000 non-null int64
trans_face_val_amt        5000 non-null float64
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null object
event_dt                  5000 non-null object
presale_dt                2108 non-null object
onsale_dt                 4899 non-null object
sales_ord_create_dttm     4996 non-null object
sales_ord_tran_dt         5000 non-null object
print_dt                  4576 non-null object
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
venue_postal_cd_sgmt_1    5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null object
la_valid_tkt_event_flg    5000 non-null object
fin_mkt_nm                5000 non-null object
web_session_cookie_val    5000 non-null object
gndr_cd                   177 non-null object
age_yr                    168 non-null float64
income_amt                154 non-null float64
edu_val                   139 non-null object
edu_1st_indv_val          112 non-null object
edu_2nd_indv_val          86 non-null object
adults_in_hh_num          176 non-null float64
married_ind               157 non-null float64
child_present_ind         130 non-null float64
home_owner_ind            138 non-null float64
occpn_val                 79 non-null object
occpn_1st_val             77 non-null object
occpn_2nd_val             63 non-null object
dist_to_ven               323 non-null float64
dtypes: float64(8), int64(2), object(36)
memory usage: 1.8+ MB

,Unnamed: 0,tickets_purchased_qty,trans_face_val_amt,age_yr,income_amt,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,dist_to_ven
count,5000.000000,5000.00000,5000.000000,168.000000,154.000000,176.000000,157.000000,130.000000,138.000000,323.000000
mean,2500.500000,1.63900,77.077446,44.369048,86396.103896,2.579545,0.668790,0.561538,0.942029,158.188854
std,1443.520003,1.11361,123.864788,16.531067,58895.045547,1.490707,0.472155,0.498118,0.234540,395.678376
min,1.000000,1.00000,1.000000,18.000000,10000.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1250.750000,1.00000,20.000000,30.000000,45000.000000,1.000000,0.000000,0.000000,1.000000,12.000000
50%,2500.500000,1.00000,30.000000,44.000000,62500.000000,2.000000,1.000000,1.000000,1.000000,26.000000
75%,3750.250000,2.00000,85.000000,56.000000,87500.000000,4.000000,1.000000,1.000000,1.000000,77.500000
max,5000.000000,8.00000,1520.880000,94.000000,200000.000000,6.000000,1.000000,1.000000,1.000000,2548.000000

Something that is interesting about this dataset is that although there looks to be some possible column names, there are a lot more that are unnamed, making me wonder why. Maybe it's additional, unneeded comas or it might be something else.

In [94]:
print ("Attendance Dataset:")
print(dfa.columns.values)

Attendance Dataset:
['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08'
 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3' 'Unnamed: 4' 'Unnamed: 5'
 'Unnamed: 6' 'Unnamed: 7' 'Unnamed: 8' 'Unnamed: 9' 'Unnamed: 10'
 'Unnamed: 11' 'Unnamed: 12' 'Unnamed: 13' 'Unnamed: 14' 'Unnamed: 15'
 'Unnamed: 16' 'Unnamed: 17' 'Unnamed: 18' 'Unnamed: 19' 'Unnamed: 20'
 'Unnamed: 21' 'Unnamed: 22' 'Unnamed: 23' 'Unnamed: 24' 'Unnamed: 25'
 'Unnamed: 26' 'Unnamed: 27' 'Unnamed: 28' 'Unnamed: 29' 'Unnamed: 30'
 'Unnamed: 31' 'Unnamed: 32' 'Unnamed: 33' 'Unnamed: 34' 'Unnamed: 35'
 'Unnamed: 36' 'Unnamed: 37' 'Unnamed: 38' 'Unnamed: 39' 'Unnamed: 40'
 'Unnamed: 41' 'Unnamed: 42' 'Unnamed: 43' 'Unnamed: 44' 'Unnamed: 45'
 'Unnamed: 46' 'Unnamed: 47' 'Unnamed: 48' 'Unnamed: 49' 'Unnamed: 50'
 'Unnamed: 51' 'Unnamed: 52' 'Unnamed: 53' 'Unnamed: 54' 'Unnamed: 55'
 'Unnamed: 56' 'Unnamed: 57' 'Unnamed: 58' 'Unnamed: 59' 'Unnamed: 60'
 'Unnamed: 61' 'Unnamed: 62' 'Unnamed: 63' 'Unnamed: 64' 'Unnamed: 65'
 'Unnamed: 66' 'Unnamed: 67' 'Unnamed: 68' 'Unnamed: 69' 'Unnamed: 70'
 'Unnamed: 71' 'Unnamed: 72' 'Unnamed: 73' 'Unnamed: 74' 'Unnamed: 75'
 'Unnamed: 76' 'Unnamed: 77' 'Unnamed: 78' 'Unnamed: 79' 'Unnamed: 80'
 'Unnamed: 81' 'Unnamed: 82' 'Unnamed: 83' 'Unnamed: 84' 'Unnamed: 85'
 'Unnamed: 86' 'Unnamed: 87' 'Unnamed: 88' 'Unnamed: 89' 'Unnamed: 90'
 'Unnamed: 91' 'Unnamed: 92' 'Unnamed: 93' 'Unnamed: 94' 'Unnamed: 95'
 'Unnamed: 96' 'Unnamed: 97' 'Unnamed: 98' 'Unnamed: 99' 'Unnamed: 100'
 'Unnamed: 101' 'Unnamed: 102' 'Unnamed: 103' 'Unnamed: 104'
 'Unnamed: 105' 'Unnamed: 106' 'Unnamed: 107' 'Unnamed: 108'
 'Unnamed: 109' 'Unnamed: 110' 'Unnamed: 111' 'Unnamed: 112'
 'Unnamed: 113' 'Unnamed: 114' 'Unnamed: 115' 'Unnamed: 116'
 'Unnamed: 117' 'Unnamed: 118' 'Unnamed: 119' 'Unnamed: 120'
 'Unnamed: 121' 'Unnamed: 122' 'Unnamed: 123' 'Unnamed: 124'
 'Unnamed: 125' 'Unnamed: 126' 'Unnamed: 127' 'Unnamed: 128'
 'Unnamed: 129' 'Unnamed: 130' 'Unnamed: 131' 'Unnamed: 132'
 'Unnamed: 133' 'Unnamed: 134' 'Unnamed: 135' 'Unnamed: 136'
 'Unnamed: 137' 'Unnamed: 138' 'Unnamed: 139' 'Unnamed: 140'
 'Unnamed: 141' 'Unnamed: 142' 'Unnamed: 143' 'Unnamed: 144'
 'Unnamed: 145' 'Unnamed: 146' 'Unnamed: 147' 'Unnamed: 148'
 'Unnamed: 149' 'Unnamed: 150' 'Unnamed: 151' 'Unnamed: 152'
 'Unnamed: 153' 'Unnamed: 154' 'Unnamed: 155' 'Unnamed: 156'
 'Unnamed: 157' 'Unnamed: 158' 'Unnamed: 159' 'Unnamed: 160'
 'Unnamed: 161' 'Unnamed: 162' 'Unnamed: 163' 'Unnamed: 164'
 'Unnamed: 165' 'Unnamed: 166' 'Unnamed: 167' 'Unnamed: 168'
 'Unnamed: 169' 'Unnamed: 170' 'Unnamed: 171' 'Unnamed: 172'
 'Unnamed: 173' 'Unnamed: 174' 'Unnamed: 175' 'Unnamed: 176'
 'Unnamed: 177' 'Unnamed: 178' 'Unnamed: 179' 'Unnamed: 180'
 'Unnamed: 181' 'Unnamed: 182' 'Unnamed: 183' 'Unnamed: 184'
 'Unnamed: 185' 'Unnamed: 186' 'Unnamed: 187' 'Unnamed: 188'
 'Unnamed: 189' 'Unnamed: 190' 'Unnamed: 191' 'Unnamed: 192'
 'Unnamed: 193' 'Unnamed: 194' 'Unnamed: 195' 'Unnamed: 196'
 'Unnamed: 197' 'Unnamed: 198' 'Unnamed: 199' 'Unnamed: 200'
 'Unnamed: 201' 'Unnamed: 202' 'Unnamed: 203' 'Unnamed: 204'
 'Unnamed: 205' 'Unnamed: 206' 'Unnamed: 207' 'Unnamed: 208'
 'Unnamed: 209' 'Unnamed: 210' 'Unnamed: 211' 'Unnamed: 212'
 'Unnamed: 213' 'Unnamed: 214' 'Unnamed: 215' 'Unnamed: 216'
 'Unnamed: 217' 'Unnamed: 218' 'Unnamed: 219' 'Unnamed: 220'
 'Unnamed: 221' 'Unnamed: 222' 'Unnamed: 223' 'Unnamed: 224'
 'Unnamed: 225' 'Unnamed: 226' 'Unnamed: 227' 'Unnamed: 228'
 'Unnamed: 229' 'Unnamed: 230' 'Unnamed: 231' 'Unnamed: 232'
 'Unnamed: 233' 'Unnamed: 234' 'Unnamed: 235' 'Unnamed: 236'
 'Unnamed: 237' 'Unnamed: 238' 'Unnamed: 239' 'Unnamed: 240'
 'Unnamed: 241' 'Unnamed: 242' 'Unnamed: 243' 'Unnamed: 244'
 'Unnamed: 245' 'Unnamed: 246' 'Unnamed: 247' 'Unnamed: 248'
 'Unnamed: 249' 'Unnamed: 250' 'Unnamed: 251' 'Unnamed: 252']

The info function shows some of the column names as well, but a lot of columns known as unnamed. Describe just shows that a lot, if not most of the data is not numerical.

In [95]:
dfa.info()
dfa.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Columns: 253 entries, Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08 to Unnamed: 252
dtypes: float64(236), object(17)
memory usage: 134.5+ KB

,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
print ("Boing Boing Candy Dataset:")
print(dfb.columns.values)

Boing Boing Candy Dataset:
['Timestamp' 'Are you going actually going trick or treating yourself?'
 'Your gender:' 'How old are you?' 'Which country do you live in?'
 'Which state, province, county do you live in?' ' [100 Grand Bar]'
 ' [Anonymous brown globs that come in black and orange wrappers]'
 ' [Any full-sized candy bar]' ' [Black Jacks]' ' [Bonkers (the candy)]'
 ' [Bonkers (the board game)]' ' [Bottle Caps]' " [Box'o'Raisins]"
 ' [Broken glow stick]' ' [Butterfinger]' ' [Cadbury Creme Eggs]'
 ' [Candy Corn]'
 ' [Candy that is clearly just the stuff given out for free at restaurants]'
 ' [Caramellos]' ' [Cash, or other forms of legal tender]' ' [Chardonnay]'
 ' [Chick-o-Sticks (we donâ€™t know what that is)]' ' [Chiclets]'
 ' [Coffee Crisp]' ' [Creepy Religious comics/Chick Tracts]'
 ' [Dental paraphenalia]' ' [Dots]' ' [Dove Bars]' ' [Fuzzy Peaches]'
 ' [Generic Brand Acetaminophen]' ' [Glow sticks]' ' [Goo Goo Clusters]'
 " [Good N' Plenty]" ' [Gum from baseball cards]'
 ' [Gummy Bears straight up]' ' [Hard Candy]' ' [Healthy Fruit]'
 ' [Heath Bar]' " [Hershey's Dark Chocolate]"
 ' [Hersheyâ€™s Milk Chocolate]' " [Hershey's Kisses]"
 ' [Hugs (actual physical hugs)]' ' [Jolly Rancher (bad flavor)]'
 ' [Jolly Ranchers (good flavor)]' ' [JoyJoy (Mit Iodine!)]'
 ' [Junior Mints]' ' [Senior Mints]' ' [Kale smoothie]'
 ' [Kinder Happy Hippo]' ' [Kit Kat]' ' [LaffyTaffy]' ' [LemonHeads]'
 ' [Licorice (not black)]' ' [Licorice (yes black)]' ' [Lindt Truffle]'
 ' [Lollipops]' ' [Mars]' ' [Mary Janes]' ' [Maynards]' ' [Mike and Ike]'
 ' [Milk Duds]' ' [Milky Way]' ' [Regular M&Ms]' ' [Peanut M&Mâ€™s]'
 " [Blue M&M's]" " [Red M&M's]" " [Third Party M&M's]"
 ' [Minibags of chips]' ' [Mint Kisses]' ' [Mint Juleps]' ' [Mr. Goodbar]'
 ' [Necco Wafers]' ' [Nerds]' ' [Nestle Crunch]' " [Now'n'Laters]"
 ' [Peeps]' ' [Pencils]'
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]'
 ' [Pixy Stix]' ' [Reeseâ€™s Peanut Butter Cups]' " [Reese's Pieces]"
 ' [Reggie Jackson Bar]' ' [Rolos]' ' [Skittles]' ' [Smarties (American)]'
 ' [Smarties (Commonwealth)]' ' [Snickers]'
 ' [Sourpatch Kids (i.e. abominations of nature)]' ' [Spotted Dick]'
 ' [Starburst]' ' [Sweet Tarts]' ' [Swedish Fish]'
 ' [Sweetums (a friend to diabetes)]' ' [Tic Tacs]'
 ' [Those odd marshmallow circus peanut things]' ' [Three Musketeers]'
 ' [Tolberone something or other]' ' [Trail Mix]' ' [Twix]'
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]'
 ' [Vicodin]' ' [Whatchamacallit Bars]' ' [White Bread]'
 ' [Whole Wheat anything]' ' [York Peppermint Patties]'
 'Please list any items not included above that give you JOY.'
 'Please list any items not included above that give you DESPAIR.'
 'Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.'
 'Guess the number of mints in my hand.' 'Betty or Veronica?'
 '"That dress* that went viral a few years back - when I first saw it, it was ________"'
 'What is your favourite font?'
 'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]'
 'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]'
 'Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]'
 'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]'
 'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]'
 'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]'
 'Which day do you prefer, Friday or Sunday?'
 'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?'
 'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).'
 ' [York Peppermint Patties] Ignore']

Similar to the dataset before, describe shows that the data is non numerical but info shows how many columns there are. There are many columns in this dataset, some o which, look to be scrambled or out of place.

In [97]:
dfb.info()
dfa.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: datetime64[ns](1), float64(1), object(121)
memory usage: 1.2+ MB

,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,...,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dataset Preparation for dfs

### First, I'm re-labelling the first 10 column names and then I use the head function to open the dataset to see what it looks like.

In [98]:
# new names for the columns/headers
new_labels = ['Education','Event_ID','Primary_Act_ID','Secondary_Act_ID',
              'Purch_Party_Lookup_ID','Event_Name','Primary_Act_Name',
              'Secondary_Act_Name','Major_Cat_Name','Minor_Cat_Name'] 

dfs = pd.read_csv("sales.csv", #name of csv file
                 header=11,         #which indexed row in the file is the last header row this means rows 0..3 are headers
                 names=new_labels, encoding = "ISO-8859-1") #use the new_labels list for the column names. Notice there are no blanks

In [99]:
dfs.head(11)

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Education,Event_ID,Primary_Act_ID,Secondary_Act_ID,Purch_Party_Lookup_ID,Event_Name,Primary_Act_Name,Secondary_Act_Name,Major_Cat_Name,Minor_Cat_Name
12,6adcf8b2dc8a761b22b7,094156ef72361776c8ee,b148517112c348d23c90,aacf83f268bd967f98e7,Blake Shelton: Presented By Gildan,Blake Shelton,Chris Janson,CONCERTS,COUNTRY,CONCERTS,Blake Shelton: Presented By Gildan,PRESENTED BY GILDAN Blake Shelton * * * * * * THE PALACE-AUBURN HILLS * * * * * * SAT FEB 20 2016 7:30 PM,2,90.0,eTicket,2/21/2016 0:30,2/20/2016,12/9/2015,12/11/2015,12/9/2015 15:08,12/9/2015,12/9/2015,EST,AUBURN HILLS,MICHIGAN,48326,www.ticketmaster.com,T,Y,Michigan,aacf83f268bd967f98e7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,d3c8f5fb844690fb5af6,732d4f52a3ac2b7de8ef,b85143bf51323b72e53c,59eb1bf6c887ccc26d17,Skip The Line: Pierce The Line/all Time Low,Live Nation C-T Upsells - Special Access,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,Skip The Line: Pierce The Line/all Time Low,NOT VALID FOR ENTRY SKIP THE LINE THIS IS NOT A CONCERT TKT BAYOU MUSIC CENTER 520 TEXAS AVENUE SUN APR 14 2013 6:30 PM,4,40.0,TicketFast,4/14/2013 23:30,4/14/2013,NaN,1/10/2013,1/28/2013 18:33,1/28/2013,1/28/2013,CST,HOUSTON,TEXAS,77002,www.concerts.livenation.com,T,N,Houston,59eb1bf6c887ccc26d17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,5c7d36b783905ba488f4,34ad0e9254b8f7d1cbe0,b85143bf51323b72e53c,9efc747b02e3eea0cd89,Tabernacle Parking: Chris Botti,Tabernacle Parking,NaN,MISC,PARKING,PARKING,Tabernacle Parking: Chris Botti,PARKING PASS-PARKING ONLY%CHRIS BOTTI%CENTRAL PARKING%REDEEM UPON EXIT%ENTER AT LUCKIE & CONE%SUN JAN 14 2007 8:00PM,1,9.0,Mail,1/15/2007 1:00,1/14/2007,NaN,11/29/2006,12/3/2006 0:00,12/3/2006,12/6/2006,EST,ATLANTA,GEORGIA,30303,NaN,T,N,Atlanta,9efc747b02e3eea0cd89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,e68754d15ef2b8694b26,6e3df9919c998817e1b1,b85143bf51323b72e53c,6ad4972b327c8a7b3fc9,Premier Parking: Aerosmith,Virginia Beach Amphitheater VIP Parking,NaN,MISC,PARKING,PARKING,Premier Parking: Aerosmith,VALID FOR PARKING ONLY%PREMIER PARKING LOT%VERIZON WIRELESS VB AMP%PARKING FOR AEROSMITH%LOT OPENS 2 HOURS PRIOR%SAT OCT 21 2006 7:30PM,1,15.0,TicketFast,10/21/2006 23:30,10/21/2006,NaN,9/16/2006,9/19/2006 0:00,9/19/2006,9/19/2006,EST,VIRGINIA BEACH,VIRGINIA,23456,NaN,T,N,Virginia,6ad4972b327c8a7b3fc9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,afd7dbe7675fc5480a0c,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,ebee63b01e98b720aebc,Premier Parking: Toby Keith,Parking Event,NaN,MISC,PARKING,PARKING,Premier Parking: Toby Keith,"THIS TICKET IS VALID%FOR PREMIER PARKING ONLY!%JUNE 28TH, 2008%TOBY KEITH%FORD AMPHITHEATRE%***USE MLK ENTRANCE***",1,20.0,Mail,6/28/2008 23:30,6/28/2008,4/3/2008,4/5/2008,4/5/2008 0:00,4/5/2008,4/10/2008,EST,TAMPA,FLORIDA,33610,NaN,T,N,Tampa,ebee63b01e98b720aebc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
17,e6a1bc0620dc1fb45b6d,7cb02562bcb9387cbd13,b85143bf51323b72e53c,0782b2074b13d4bd4756,Lindsey Stirling: The Music Box Tour,Lindsey Stirling,NaN,CONCERTS,ROCK/POP,CONCERTS,Lindsey Stirling: The Music Box Tour,PRODUCED BY LIVE NATION LINDSEY STIRLING THE MUSIC BOX TOUR * * * JACOBS PAVILION AT NAUTICA TUE JUN 09 2015 8:00 PM,2,70.0,eTicket,6/10/2015 0:00,6/9/2015,3/19/2015,3/20/2015,6/1/2015 20:52,6/1/2015,6/5/2015,CST,CLEVELAND,OHIO,44113,www.concerts.livenation.com,T,Y,Cleveland,0782b2074b13d4bd4756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8bc575c22b944a6715d0,43f0436b905bfa7c2eec,b85143bf51323b72e53c,f83bca5fa2608f506778,Premier Parking : rascal flatts,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Premier Parking : rascal flatts,"VALID FOR PARKING ONLY%PREMIER PARKING%COMCAST CTR, MANSFIELD%PARKING FOR RASCAL FLATTS%LOT OPENS 3 HOURS PRIOR%SAT SEP 13 2008 8:00PM",1,40.0,Mail,9/14/2008 0:00,9/13/2008,5/14/2008,5/17/2008,5/16/2008 0:00,5/16/2008,5/22/2008,EST,MANSFIELD,MASSACHUSETTS,2048,NaN,T,N,Boston,f83bca5fa2608f506778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5777fc7899ca8f4ef03b,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c93aa49eccb7c97d895,Dodge Theatre Adams Street Parking - bb king,Parking Event,NaN,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - bb king,ADAMS STREET GARAGE%GOOD ONLY 1/7/07%DODGE THEATRE PARKING PASS%ENTRANCE ON ADAMS STREET%BB KING%GARAGE OPENS AT 5:30PM,1,5.0,Mail,1/8/2007 2:30,1/7/2007,NaN,8/28/2006,11/2/2006 0:00,11/2/2006,11/6/2006,MST,PHOENIX,ARIZONA,85003,NaN,T,N,Arizona,6c93aa49eccb7c97d895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,b1574cb6bfd591a98572,d769ab09a96be5a0b316,b85143bf51323b72e53c,85188c1c9d49ba2f45fd,Verizon Wireless Amphitheatre Vip Parking: Zac Brown Band,Verizon Wireless Amph. Charlotte Premier Parking,NaN,MISC,PARKING,PARKING,Verizon Wireless Amphitheatre Vip Parking: Zac Brown Band,THIS TICKET IS VALID FOR%ZAC BROWN BAND%VIP PARKING%VERIZON WIRELESS AMP CHA%USE HWY 29 TO PAVILION BL%SAT AUG 21 2010 7:00PM,1,20.0,TicketFast,8/21/2010 23:00,8/21/2010,NaN,5/22/2010,7/30/2010 0:00,7/30/2010,1/1/1900,EST,CHARLOTTE,NORTH CAROLINA,28262,NaN,F,N,Charlotte,85188c1c9d49ba2f45fd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,516c79412f8b76efa1ac,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7c32a73a0c9fd6c36991,Xfinity Center Mansfield Premier Parking: Tim Mcgraw,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Tim Mcgraw,"THIS TICKET IS VALID FOR PARKING ONLY GOOD THIS DAY ONLY PREMIER PARKING PASS XFINITY CENTER,LOTS 3:30PM FRI JUN 12 2015 7:00 PM",1,45.0,eTicket,6/12/2015 23:00,6/12/2015,NaN,2/20/2015,6/12/2015 16:53,6/12/2015,6/12/2015,EST,MANSFIELD,MASSACHUSETTS,2048,www.concerts.livenation.com,T,N,Boston,7c32a73a0c9fd6c36991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,f7a4ec7efe1cd5125812,ac4b847b3fde66f2117e,b85143bf51323b72e53c,d63d6400698a61a2ba5a,Skip The Line: Maroon 5/kelly clarkson,Fast Lane Access,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,Skip The Line: Maroon 5/kelly clarkson,FAST LANE ACCESS MUST HAVE EVENT TICKET GOOD FOR SHOW ON VOUCHER COMCAST THEATRE MAROON 5/KELLY CLARKSON SAT AUG 31 2013 7:00PM,4,40.0,TicketFast,8/31/2013 23:00,8/31/2013,NaN,4/1/2013,4/6/2013 14:16,4/6/2013,6/4/2013,EST,HARTFORD,CONNECTICUT,6120,www.concerts.livenation.com,T,N,Boston,d63d6400698a61a2ba5a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Next, I am going to use the groupby function to group this dataset by the education level.

In [100]:
gk = dfs.groupby('Education')

type (gk)

gk.first()

,Event_ID,Primary_Act_ID,Secondary_Act_ID,Purch_Party_Lookup_ID,Event_Name,Primary_Act_Name,Secondary_Act_Name,Major_Cat_Name,Minor_Cat_Name
Education,,,,,,,,,
College,College,4.0,1.0,0.0,1.0,Professional Technical,Clerical White Collar,Professional Technical,NaN
Graduate School,College,5.0,1.0,0.0,1.0,Homemaker,Professional Technical,Professional Technical,NaN
High School,High School,5.0,1.0,1.0,1.0,Craftsman Blue Collar,Other,Professional Technical,NaN

## Dataset Preparation for dfa

In [101]:
print(dfb)

                   Timestamp  \
0    2016-10-24 05:09:23.033
1    2016-10-24 05:09:54.798
2    2016-10-24 05:13:06.734
3    2016-10-24 05:14:17.192
4    2016-10-24 05:14:24.625
5    2016-10-24 05:16:43.126
6    2016-10-24 05:16:50.572
7    2016-10-24 05:16:55.324
8    2016-10-24 05:17:49.292
9    2016-10-24 05:18:51.021
10   2016-10-24 05:20:21.125
11   2016-10-24 05:21:19.858
12   2016-10-24 05:21:27.708
13   2016-10-24 05:22:12.699
14   2016-10-24 05:22:30.678
15   2016-10-24 05:24:08.316
16   2016-10-24 05:24:11.446
17   2016-10-24 05:26:18.333
18   2016-10-24 05:26:35.167
19   2016-10-24 05:27:00.491
20   2016-10-24 05:30:39.763
21   2016-10-24 05:31:48.862
22   2016-10-24 05:33:18.915
23   2016-10-24 05:33:28.488
24   2016-10-24 05:34:36.438
25   2016-10-24 05:34:37.116
26   2016-10-24 05:34:40.001
27   2016-10-24 05:35:45.940
28   2016-10-24 05:36:13.156
29   2016-10-24 05:36:44.146
...                      ...
1229 2016-10-28 09:10:29.100
1230 2016-10-28 09:10:38.669
1231 2016-10-28 09:51:59.394
1232 2016-10-28 10:12:14.405
1233 2016-10-28 10:19:10.361
1234 2016-10-28 10:32:54.679
1235 2016-10-28 10:54:41.121
1236 2016-10-28 12:41:25.987
1237 2016-10-28 12:59:36.013
1238 2016-10-28 13:08:58.202
1239 2016-10-28 13:16:27.652
1240 2016-10-28 13:42:50.055
1241 2016-10-28 14:26:09.078
1242 2016-10-28 14:37:24.766
1243 2016-10-28 15:58:09.398
1244 2016-10-28 17:05:16.492
1245 2016-10-28 17:37:43.109
1246 2016-10-28 19:45:24.355
1247 2016-10-28 21:41:51.875
1248 2016-10-29 00:55:44.688
1249 2016-10-29 07:21:44.555
1250 2016-10-29 10:53:26.543
1251 2016-10-29 11:56:55.930
1252 2016-10-29 12:02:52.773
1253 2016-10-29 14:47:43.907
1254 2016-10-29 16:53:52.516
1255 2016-10-30 06:53:54.735
1256 2016-10-30 11:06:10.827
1257 2016-10-30 16:07:26.539
1258 2016-10-30 17:06:45.660

     Are you going actually going trick or treating yourself?  \
0                                                    No
1                                                    No
2                                                    No
3                                                    No
4                                                   Yes
5                                                    No
6                                                   Yes
7                                                    No
8                                                   Yes
9                                                    No
10                                                   No
11                                                   No
12                                                   No
13                                                  Yes
14                                                   No
15                                                   No
16                                                   No
17                                                   No
18                                                  Yes
19                                                   No
20                                                   No
21                                                   No
22                                                   No
23                                                   No
24                                                   No
25                                                   No
26                                                   No
27                                                   No
28                                                   No
29                                                   No
...                                                 ...
1229                                                 No
1230                                                 No
1231                                                 No
1232                                                 No
1233                                                 No
1234                                                 No
1235                                                 No
1236                                                 No
1237                                                 No
1238                                                 No
1239                                                 No
1240                                                 No
1241                                                 No
1242                                                 No
1243                                                Yes
1244                                                 No
1245                                                 No
1246                                                 No
1247                                                 No
1248                                                 No
1249                                                Yes
1250                                                 No
1251                                                 No
1252                                                Yes
1253                                                 No
1254                                                 No
1255                                                 No
1256                                                 No
1257                                                 No
1258                                                Yes

            Your gender: How old are you? Which country do you live in?  \
0                   Male               22                        Canada
1                   Male               45                           usa
2                 Female               48                            US
3                   Male               57                           usa
4                   Male               42                           USA
5                   Male               41                           USA
6                   Male               47                           usa
7                   Male               28                        Canada
8                   Male               44                           USA
9                 Female               41                            UK
10                 Other               34      United States of America
11                Female               46                           USA
12                  Male               41                           uSA
13                  Male               45                         Japan
14                  Male               40                 united states
15                Female               31                          USA
16                Female               33                           USA
17                  Male               35                        canada
18                  Male               49                           USA
19                  Male               44                 united states
20                  Male               45                 United States
21                  Male               34                        canada
22                  Male               48                 United States
23                Female               16                 United States
24                  Male               60                            US
25                  Male               30                            us
26                Female               51                           USA
27    I'd rather not say               31                 United States
28                  Male               51                           USA
29    I'd rather not say               33                           USA
...                  ...              ...                           ...
1229                Male               31                            US
1230                Male               51                           USA
1231               Other               33      United States of America
1232              Female               25                           USA
1233              Female               29                 United States
1234              Female               26                            US
1235              Female               44                        Canada
1236                Male               24                 United States
1237              Female               31                           USA
1238              Female               71                           USA
1239              Female               32                           USA
1240                Male               27                           USA
1241              Female               26                        Canada
1242                Male               46                           USA
1243                Male               45      united states of america
1244              Female               45                 United States
1245              Female      49 11/12ths                          U.S.
1246                Male               31                        Canada
1247              Female               31      United States of America
1248                Male               27                 United States
1249              Female               47                            US
1250                Male               35                           USA
1251              Female               34                  United State
1252              Female               56                           USA
1253                Male               54                           USA
1254              Female               52                           USA
1255                Male               33                 united states
1256                Male              NaN                           NaN
1257                Male               48                        canada
1258              Female               44                            Us

     Which state, province, county do you live in?  [100 Grand Bar]  \
0                                          Ontario              JOY
1                                               il              MEH
2                                         Colorado              JOY
3                                               il              JOY
4                                     South Dakota              MEH
5                                          Georgia              JOY
6                                               il          DESPAIR
7                                          Ontario              MEH
8                                               PA              MEH
9                                              NaN          DESPAIR
10                                              IN              JOY
11                                      the Mitten              MEH
12                                      California              MEH
13                                           Tokyo              MEH
14                                              ca              MEH
15                                              Ny              MEH
16                                              WA              JOY
17                                         Ontario              NaN
18                                              NJ              MEH
19                                              nh              MEH
20                                       Tennessee              JOY
21                                    newfoundland              MEH
22                                        Maryland              MEH
23                                   Pennsylvania               MEH
24                                        Delaware              NaN
25                                              ma              MEH
26                                        Michigan              MEH
27                                         Florida              MEH
28                                              SC              MEH
29                                              MN              JOY
...                                            ...              ...
1229                                 Massachusetts              JOY
1230                                     Louisiana              JOY
1231                                            NC              JOY
1232                                            CA          DESPAIR
1233                                    California              JOY
1234                                            DC              MEH
1235                                       Ontario              JOY
1236                                Massachusetts               MEH
1237                                            MO              MEH
1238                                            MD              JOY
1239                                      Virginia              JOY
1240                                            MI          DESPAIR
1241                          Prince Edward Island              MEH
1242                                            IL              JOY
1243                                    Boo Jersey              JOY
1244                                 Pennsylvania               JOY
1245                                            IL              MEH
1246                                       Ontario              NaN
1247                                   Connecticut              JOY
1248                                    Washington              MEH
1249                                            WA              MEH
1250                                 Massachusetts              JOY
1251                                 New Hampshire              JOY
1252                                            NH              JOY
1253                                   wisconisin               MEH
1254                                            TX              JOY
1255                                     minnesota              JOY
1256                                           NaN              JOY
1257                                            BC              NaN
1258                                            Nh              JOY

      [Anonymous brown globs that come in black and orange wrappers]  \
0                                               DESPAIR
1                                                   MEH
2                                               DESPAIR
3                                                   MEH
4                                               DESPAIR
5                                               DESPAIR
6                                               DESPAIR
7                                                   JOY
8                                               DESPAIR
9                                               DESPAIR
10                                              DESPAIR
11                                              DESPAIR
12                                              DESPAIR
13                                              DESPAIR
14                                              DESPAIR
15                                              DESPAIR
16                                              DESPAIR
17                                              DESPAIR
18                                              DESPAIR
19                                              DESPAIR
20                                              DESPAIR
21                                              DESPAIR
22                                              DESPAIR
23                                              DESPAIR
24                                                  NaN
25                                                  JOY
26                                              DESPAIR
27                                              DESPAIR
28                                                  MEH
29                                              DESPAIR
...                                                 ...
1229                                                MEH
1230                                            DESPAIR
1231                                                MEH
1232                                                MEH
1233                                            DESPAIR
1234                                            DESPAIR
1235                                            DESPAIR
1236                                            DESPAIR
1237                                                MEH
1238                                            DESPAIR
1239                                            DESPAIR
1240                                                MEH
1241                                            DESPAIR
1242                                                MEH
1243                                            DESPAIR
1244                                                JOY
1245                                            DESPAIR
1246                                                MEH
1247                                            DESPAIR
1248                                            DESPAIR
1249                                            DESPAIR
1250                                            DESPAIR
1251                                                MEH
1252                                                MEH
1253                                                MEH
1254                                            DESPAIR
1255                                            DESPAIR
1256                                                MEH
1257                                            DESPAIR
1258                                                MEH

      [Any full-sized candy bar]  [Black Jacks]  ...  \
0                            JOY            MEH  ...
1                            JOY            JOY  ...
2                            JOY            MEH  ...
3                            JOY            MEH  ...
4                            JOY        DESPAIR  ...
5                            JOY            MEH  ...
6                            JOY        DESPAIR  ...
7                            JOY        DESPAIR  ...
8                            JOY        DESPAIR  ...
9                            JOY        DESPAIR  ...
10                           JOY            JOY  ...
11                           MEH        DESPAIR  ...
12                           JOY            NaN  ...
13                           MEH        DESPAIR  ...
14                           MEH            MEH  ...
15                           JOY            MEH  ...
16                           MEH            NaN  ...
17                           JOY            NaN  ...
18                           JOY        DESPAIR  ...
19                           MEH            JOY  ...
20                           JOY            MEH  ...
21                           JOY            MEH  ...
22                           JOY        DESPAIR  ...
23                           JOY        DESPAIR  ...
24                           JOY        DESPAIR  ...
25                           JOY        DESPAIR  ...
26                           JOY        DESPAIR  ...
27                           JOY        DESPAIR  ...
28                           JOY        DESPAIR  ...
29                           JOY        DESPAIR  ...
...                          ...            ...  ...
1229                         JOY            JOY  ...
1230                         JOY        DESPAIR  ...
1231                         JOY            NaN  ...
1232                         MEH        DESPAIR  ...
1233                         JOY        DESPAIR  ...
1234                         MEH            MEH  ...
1235                         JOY            NaN  ...
1236                         JOY            MEH  ...
1237                         JOY        DESPAIR  ...
1238                         MEH        DESPAIR  ...
1239                         JOY            MEH  ...
1240                         JOY            MEH  ...
1241                         JOY            MEH  ...
1242                         JOY            JOY  ...
1243                         JOY            MEH  ...

In [102]:
dfb.head(3)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN

# Conclusions

In conclusion, data cleaning is very, very, very difficult. I honestly don't think I have the skills for it, whether thats with the lack of codes and understanding of those codes, but it is very hard and I can see why it would take such a long time. It took such a long time just to even get to this point for me and I have not even done that much. Actually going through the motions of attempting to clean a datases gives me a new perspective on data cleanign and people who have jobs to do it. I always knew that anything having to do with big data would be hard and very time consuming, but I had no idea that it was to this degree (and I doubt these datasets are even in the top 50 messiest datasets out there). Bottom line, this is so difficult that I can now completely understand and agree with the words "Coding is emotional" because I still want to cry about this whole process.

# Awknowledgements

Ms. Sconyers
- Giving me codes I needed
- Explaining and helping me through codes I didn't understand and parts I had trouble with
- Helping me through renaming columns
- Helping to catch a mistake in my codes

Ziah
- Helping me with bouncing off ideas on why a code might not be working
- Giving me the 'encoding...' code for opening the first two datasets

Rihan
- Helping me with renaming the columns by explaining why I need to do it

Navya
- Helping me understand some terms I still have trouble with
- Giving the code to find column names

Theo
- Giving the code to help open a excel dataset